/* Tablet Styling Document */

@media only screen and (min-width: 600px) {

	h3{
		text-align: left;
		width: 50%;
		font-size: .8em;
		margin: 0 3%;
		display: inline-block;
	}
	.headingItems{
		display: inline-block;
		float: left;
		width: 42%;
		h1{
			margin-bottom: 0;
		}
	}
	
	.searchbox{
		float: right;
		width: 38%;

	//padding: 1em;
input.search{

	border: 1px solid $darkgrey;
	color: $darkgrey;
	font-size: 1.1em;
	padding: .4em;
	border-radius: .4em;
	margin-right: 1em;
	//text-align: center;
	
}
} // end of searchbox
	h1{
		margin-bottom: 1em;
		margin-left: 2%;
	}
	.icons{
		float: right;
		display: inline-block;
		width: 27%;
	}
	#home-page {
	
	.row{
		padding: 1000px / 24px - 19px;
				//margin: 2em 1em 0 1.7em;
				@include border-radius(6px);
		.column{
			
			width: 45%;
			float: left;
			
			img{
				
				width: 49%;
				padding: 1000px / 24px - 19px;
				//margin: 2em 1em 0 1.7em;
				@include border-radius(6px);
			}// end img styling

			
		}// end .column div
		.column1{
			width: 46%;
			float: left;
			padding: 1em;
		}
	}// end .row div

}// #home-page
	
	.multicol3{
	-webkit-column-count: 2; /*chrome, safari operea */
	-moz-column-count: 2;
	column-count: 2;
	
	-webkit-column-gap: 3%; /*chrome, safari operea */
	-moz-column-gap: 3%;
	column-gap: 3%;
	
	-webkit-column-rule: 1px outset $darkBlue; /*chrome, safari operea */
	-moz-column-rule: 1px outset $darkBlue;
	column-rule: 1px outset $darkBlue;
	
	
}
	.col12{
		width: 90%;
		margin: auto;
	}
	
	// photo styling
	.photo25{
	width: 31%;
	}
	
	.photo50{
		width: 48%;
	}
	
	
	button{
		left: 15px;
	}
	
	.flex-parent{
	display: flex;
	//flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	}

	.flex-layout{
		padding: 1em;
		width: 23%;
	}
	
	.myMap{
		height: 400px; 
	}
	
	form{
		img{
			display: block;
			float: right;
			margin-right: 10%;
			width: 200px;
			margin-top: 4%;
		
		}
		legend{
		
		input, textarea{
			width: 60%;
		}
			input.submit{
				width: 60%;
			}
		}// end of legend
	}// end of form
	
	#footer{
	background-color: $darkBlue;
	
	p{
		text-align: center;
		padding: .3em;
		margin:0;
		color: white;
	}
	a{
		text-align: center;
		color: white;
		text-decoration: none;
		padding: 0;
		margin: 0;
	}
}
	
	
	
}